html, body{
   height: 100%;
   overflow-x: hidden;
}
body {
   font-family: 'Rubik', sans-serif;
   font-weight: 400;
   font-size: 18px;
   line-height: 27px;
   color: #fff;
   background-color: $bg-primary;
   min-width: 320px;
}
.wrapper{
   min-height: 100%;
   display: flex;
   flex-direction: column;
}
.main{
   flex-grow: 1;
}
img {
   display: block;
   max-width: 100%;
 }
 video{
   display: block;
   max-width: 100%;
 }
.container{
   max-width: 1400px;
   margin: 0 auto;
   padding: 0 15px;
}
.container-fluid{
   max-width: 1920px;
   margin: 0 auto;
   padding: 0 30px;
}
.title{
   text-transform: uppercase;
   font-family: $ff-roboto;
   font-size: 40px;
   line-height: 50px;
}
.accent-color{
   color: $accent;
}
.popup-btn{
   display: inline-block;
   max-width: 320px;
   width: 100%;
   height: 70px;
   text-align: center;
   font-family: $ff-roboto;
   font-size: 18px;
   color: #fff;
   background-color: transparent;
   border: 2px solid #F5F5F5;
   border-radius: 6px;
   cursor: pointer;
   transition: all .3s ease;
   &:hover{
      background-color: $accent;
   }
}
.accent-btn{
   display: inline-block;
   width: 100%;
   height: 70px;
   line-height: 70px;
   color: #fff;
   background-color: $accent;
   border-radius: 6px;
   text-align: center;
   cursor: pointer;
}
.text-right{
   text-align: right;
}