@import 'vars';
@import 'fonts';
@import 'reset';
@import 'global';

.header{
  background-color: $bg-primary;
  height: 87px;
  position: relative;
  &::after{
    position: absolute;
    content: '';
    height: 1px;
    width: 100%;
    background-color: $line-white;
    bottom: 0;
  }
  &-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
.nav{
  &-list{
    display: flex;
  }
  &-item{
    margin-right: 15px;
    &:last-child{
      margin-right: 0;
    }
    &:hover{
      .dropdown-list{
        display: block;
      }
    }
  }
  &-link{
    display: inline-block;
    padding: 30px 10px;
    position: relative;
    &::after{
      position: absolute;
      content: '';
      height: 3px;
      width: 0%;
      border-radius: 2px;
      background-color: $accent;
      left: 50%;
      bottom: 0;
      z-index: 2;
      transition: all .5s;
    }
    &:hover::after{
      left: 0;
      width: 100%;
    }
  }
}
.dropdown{
  &-list{
    position: absolute;
    min-width: 480px;
    border-left: 1px solid $line-white;
    border-right: 1px solid $line-white;
    background-color: $bg-primary;
    z-index: 2;
    display: none;
    animation: dropdown .5s ease;
  }
  &-link{
    display: block;
    padding: 17px 20px;
    border-bottom: 1px solid $line-white;
    position: relative;
    transition: all .5s;
    /* &::after{
      position: absolute;
      content: '';
      height: 1px;
      width: 0%;
      border-radius: 2px;
      background-color: $accent;
      left: auto;
      right: 0;
      bottom: -1px;
      z-index: 2;
      transition: all .5s;
    } */
    &:hover{
      color: $accent;
      background-color: $bg-secondary;
      /* &::after{
        right: auto;
        left: 0;
        width: 100%;
      } */
    }
  }
}
@keyframes dropdown {
  from{
    transform: translateX(100px);
    opacity: 0;
  }  
  to{
    transform: translateX(0px);
    opacity: 1;
  }  
}
.consultation{
  position: relative;
  &-link{
    display: block;
    font-weight: 700;
    margin-bottom: 3px;
    transition: all .5s;
    &:last-child{
      margin-bottom: 0;
    }
    &:hover{
      color: $accent;
    }
  }
  &::after{
    position: absolute;
    content: 'Бесплатная консультация';
    min-width: 250px;
    padding: 8px;
    text-align: center;
    border-radius: 0px 0px 6px 6px;
    background-color: $accent;
    right: 0;
    bottom: -58px;
    z-index: 2;
  }
}



.slider{
  padding: 60px 0;
  &-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }
  &-content{
    max-width: 424px;
    margin-right: 30px;
    padding-bottom: 80px;
    &__title{
      font-family: $ff-roboto;
      font-size: 50px;
      line-height: 1;
      text-transform: uppercase;
      font-weight: 400;
      letter-spacing: 0;
      margin-bottom: 25px;
    }
    &__text{
      margin-bottom: 50px;
    }
    &__btn{
      max-width: 400px;
    }
  }

  &-images{
    max-width: 870px;
    width: 100%;
    min-width: 0;
  }
  &-img{
    border-radius: 10px;
    width: 100%;
    height: 520px;
    object-fit: cover;
  }
}

/* slwiper-js */
.swiper{
  height: 650px;
  padding-top: 50px;
  &-slide{
    height: 520px;
    margin-bottom: auto;
  }
}

.swiper .swiper-button-prev::after, .swiper .swiper-button-next::after {
  color: white;
  padding: 10px;
  font-size: 18px;
  font-weight: 700;
  bottom: 40px;
}
.swiper-button-next, .swiper-button-prev {
  top: var(--swiper-navigation-top-offset,93%);
}
.swiper-button-next {
  right: var(--swiper-navigation-sides-offset,0px);
  left: auto;
}
.swiper-button-prev{
  left: var(--swiper-navigation-sides-offset,540px);
  right: auto;
}

.swiper .swiper-scrollbar-drag {
  cursor: pointer;
  background-color: red;    
  height: 3px;
}
.swiper-horizontal>.swiper-scrollbar, .swiper-scrollbar.swiper-scrollbar-horizontal {
  position: absolute;
  width: 250px;
  height: var(--swiper-scrollbar-size,3px);
  background-color: #fff;
  bottom: 40px;
  left: 580px;
}

/* slwiper-js */



.services{
  padding: 60px 0;
  &-grid{
    padding: 80px 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    &__item{
      display: block;
      max-width: 440px;
      padding: 50px 30px;
      border: 2px solid #464646;
      border-radius: 5px;
      background-color: $bg-secondary;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    &__item-img{
      margin-right: 30px;
    }
  }
  &-flex{
    margin: 80px 0 140px;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    &::after{
      position: absolute;
      content: '';
      width: 100%;
      height: 1px;
      background-color: $line-white;
      left: 0;
      bottom: 15px;
    }
    &::before{
      position: absolute;
      content: '';
      width: 1px;
      height: 100%;
      background-color: $line-grey;
      top: 0;
      right: 20px;
    }
    &__item{
      padding: 0 10px 35px;
      max-width: 333px;
      width: 100%;
      text-transform: uppercase;
      text-align: center;
      font-family: $ff-roboto;
      font-size: 20px;
      line-height: 30px;
      position: relative;
      &-text{
        font-weight: 500;
      }
      &::after{
        position: absolute;
        content: '';
        width: 1px;
        height: 100%;
        background-color: $line-grey;
        top: 0;
        left: 0;
      }
      &::before{
        position: absolute;
        content: '';
        width: 3px;
        height: 24px;
        transform: rotate(45deg);
        background-color: $line-grey;
        right: -2px;
        bottom: 3px;
      }
      &:last-child::before{
        display: none;
      }
    }
  }
}




.banner{
  background-color: $bg-secondary;
  &-wrapper{
    display: flex;
    min-height: 636px;
    position: relative;
  }
  &-content{
    max-width: 583px;
    width: 100%;
    padding: 60px 0;
    &__top{
      display: flex;
      align-items: flex-end;
      margin-bottom: 60px;
    }
    &__text{
      max-width: 250px;
      font-family: $ff-roboto;
      font-size: 16px;
      line-height: 20px;
      margin-left: 15px;
    }
    &__title{
      font-family: $ff-roboto;
      text-transform: uppercase;
      font-size: 40px;
      line-height: 50px;
      font-weight: 500;
    }
  }

  &-img{
    position: absolute;
    height: 636px;
    left: 583px;
    top: 0;
  }
}




.info{
  &-wrapper{
    display: flex;
  }
}

/* tab */
.tabs{
  max-width: 583px;
  width: 100%;
  padding: 100px 0 80px;
}
.tab{
  max-width: 534px;
  padding: 45px 0;
  font-family: $ff-roboto;
  font-size: 40px;
  line-height: 50px;
  font-weight: 500;
  text-transform: uppercase;
  cursor: pointer;
  position: relative;
  transition: all .3s ease-out;
  &::after{
    position: absolute;
    content: '';
    height: 1px;
    width: 100%;
    background-color: $line-grey;
    left: 0;
    bottom: 0;
  }
  &:last-child::after{
    display: none;
  }
  &::before{
    position: absolute;
    content: '';
    background-image: url(../images/big-angle.svg);
    background-repeat: no-repeat;
    width: 0px;
    height: 32px;
    top: 54px;
    left: 0;
    transition: all .5s ease-out;
    display: none;
    animation: angle-big .5s ease-out;
  }

  &.active{
    padding-left: 45px;
    &::before{
      width: 20px;
      display: block;
    }
    &:hover{
      padding-left: 45px;
    }
  }
  &:hover{
    padding-left: 3px;
  }
}

@keyframes angle-big {
  from{
    transform: translateX(-30px);
    opacity: 0;
  }
  to{
    transform: translateX(0);
    opacity: 1;
  }
}

.tabs_content{
  max-width: 784px;
  width: 100%;
  margin-bottom: auto;
  position: relative;
}
.content{
  padding-top: 120px;
  margin-bottom: auto;
  position: relative;
  display: none;
  animation: tab-content .5s ease-out;
  &::after{
    position: absolute;
    content: '';
    width: 1px;
    height: 100%;
    background-color: $line-grey;
    top: 0;
    left: 0;
  }
  &.active{
    display: block;
  }
  &-item{
    padding: 30px 30px 30px 80px;
    position: relative;
    &::after{
      position: absolute;
      content: '';
      width: 100%;
      height: 1px;
      background-color: $line-grey;
      left: 0;
      bottom: 0;
    }
  }
  &-item__title{
    font-family: $ff-roboto;
    font-size: 22px;
    cursor: pointer;
    position: relative;
    transition: all .5s;
    &:hover{
      color: $accent;
    }
    &.active{
      color: $accent;
      &::after{
        transform: rotate(0);
      }
    }
    &::after{
      position: absolute;
      content: '';
      background-image: url(../images/angle.svg);
      background-repeat: no-repeat;
      width: 16px;
      height: 11px;
      transform: rotate(-90deg);
      top: 7px;
      left: -30px;
      transition: all .5s;
    }
  }
  &-item__text, 
  &-item__list{
    padding: 25px 0;
  }
  &-item__element{
    padding-left: 25px;
    position: relative;
    &::after{
      position: absolute;
      content: '';
      width: 5px;
      height: 5px;
      background-color: #fff;
      border-radius: 50%;
      top: 12px;
      left: 10px;
    }
  }
}

@keyframes tab-content {
  from{
    transform: translateY(-120px);
    opacity: 0;
  }
  to{
    transform: translateY(0);
    opacity: 1;
  }
}

.accordion{
  &_panel{
    max-height: 0;
    overflow: hidden;
    transition: 0.5s ease-out;
  }
}
/* tab */




.step{
  padding: 100px 0;
  background-color: $bg-secondary;
  &-wrapper{
    display: flex;
    justify-content: space-between;
    padding: 80px 0;
  }
  &-item{
    max-width: 274px;
    width: 100%;
    padding: 0 25px;
    text-align: center;
    position: relative;
    &::after{
      position: absolute;
      content: '';
      background-image: url(../images/arrow-right.svg);
      background-repeat: no-repeat;
      width: 90px;
      height: 24px;
      top: 12px;
      right: -45px;
    }
    &:last-child::after{
      display: none;
    }
  }
  &-item__number{
    font-size: 40px;
    line-height: 50px;
    font-weight: 500;
    color: $accent;
    margin-bottom: 15px;
  }
  &-item__text{
    font-family: $ff-roboto;
    font-size: 22px;
    &::first-line{
      color: $accent;
    }
  }
}





.presentation{
  
  &-wrapper{
    display: flex;
    justify-content: space-between;
    position: relative;
  }
  &-slider{
    
  }
  &-content{
    max-width: 782px;
    width: 100%;
    padding: 80px 0;
    &__title{
      padding: 0 100px;
      font-family: $ff-roboto;
      text-transform: uppercase;
      font-size: 40px;
      line-height: 50px;
      font-weight: 500;
      margin-bottom: 25px;
    }
  }
  .content{
    display: block;
    padding-top: 0;
    &-item{
      padding-left: 135px;
    }
    &::after{
      display: none;
    }
  }
  .popup-btn{
    margin-top: 55px;
    margin-left: 105px;
  }
}





.projects{
  padding: 100px 0;
  background-color: $bg-secondary;
  &-wrapper{
    padding: 50px 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-flow: dense;
    gap: 30px;
  }
  &-item{
    display: block;
    height: 400px;
    background-size: 100%;
    position: relative;
    &__img{
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    &__title{
      position: absolute;
      bottom: 50px;
      background-color: rgba(0, 0, 0, .5);
      
    }
    &:nth-child(2){
      grid-row: span 2;
      height: 800px;

    }
    &:nth-child(3){
      grid-row: span 2;
      height: 800px;
    }
  }
}





.team{
  padding: 100px 0;
  &-wrapper{
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
  }
  &-item{
    max-width: 320px;
    width: 100%;
    &__img{
      width: 100%;
      height: 290px;
      object-fit: contain;
      object-position: top;
    }
    &__info{
      padding: 20px 10px;
      text-align: center;
      border-top: 2px solid $accent;
      background-color: $bg-secondary;
    }
    &__name{
      color: $accent;
      font-size: 22px;
      margin-bottom: 3px;
    }
  }
}





.partners{
  padding: 50px 0;
  background-color: $bg-secondary;
  &-wrapper{
    margin: 50px 0;
  }
  &-grid{
    padding: 1px;
    background-color: $line-grey;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 1px;
  }
  &-item{
    max-width: 230px;
    width: 100%;
    height: 200px;
    background-color: $bg-primary;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .5s ease;
    &__img{
      transition: all .3s ease;
    }
    &:hover{
      background-color: $bg-secondary;
      .partners-item__img{
        transform: scale(1.07);
      }
    }
  }
}








.smi{
  padding: 50px 0;
  background-color: $bg-primary;
  &-wrapper{
    margin: 50px 0;

  }
  &-item{
    display: block;
    max-width: 320px;
    width: 100%;
    min-height: 300px;
    padding: 40px;
    text-align: center;
    border: 1px solid $line-grey;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    transition: all .2s;
    &:hover{
      background-color: $accent;
      .smi-item__img{
        transform: scale(1.1);
      }
      .smi-item__btn::after{
        transform: translateX(20px);
      }
    }
  }
  &-item__img{
    transition: all .2s;
  }
  &-item__btn{
    padding-right: 70px;
    position: relative;
    &::after{
      position: absolute;
      content: '';
      background-image: url(../images/arrow-little.svg);
      width: 30px;
      height: 16px;
      background-repeat: no-repeat;
      top: 6px;
      right: 20px;
      transition: all .2s;
      /* animation: link-arrow 3s ease-out infinite; */
    } 
  }
}
/* @keyframes link-arrow {
  0%{transform: translateX(0);}
  10%{transform: translateX(-20px);}
  100%{transform: translateX(0);}
} */


.query{
  padding: 50px 0;
  background-color: $bg-primary;
  &-wrapper{
    max-width: 1000px;
    margin: 0 auto;
    border-radius: 8px;
    background-color: $bg-secondary;
    padding: 40px;
  }
  .title{
    text-align: center;
    color: $accent;
    font-weight: 700;
  }
  .query-form{
    padding: 40px 0 60px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    &__input{
      display: block;
      max-width: 100%;
      border-radius: 8px;
      background-color: #fff;
      height: 70px;
      padding: 0 20px;
      color: $line-grey;
    }
    &__btn{
      max-width: 100%;
      border-radius: 8px;
    }
  }
}






.footer{
  background-color: $bg-secondary;
  border-top: 2px solid $accent;
  padding-top: 100px;
  font-family: $ff-roboto;
  &-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 60px;
    &__list{
      display: flex;
    }
    &__item{
      margin-left: 80px;
    }
    &__link{
      transition: all .5s;
      &:hover{
        color: $accent;
      }
    }
  }
  &-direction{
    display: flex;
    margin-bottom: 60px;
    &__link{
      color: $accent;
      border-bottom: 1px solid $accent;
      margin-left: 40px;
    }
  }
  &-info{
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;
    &__address{
      margin-bottom: 15px;
    }
    &__mode{
      line-height: 30px;
    }
    &__contact{
      display: block;
      font-weight: 500;
      transition: all .5s;
      // margin-bottom: 15px;
      &:last-child{
        margin-bottom: 0;
      }
      &:hover{
        color: $accent;
      }
    }
  }
  &-copy{
    border-top: 1px solid $line-grey;
    &__wrapper{
      padding: 25px 0;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    &__politic{
      color: $accent;
      border-bottom: 1px solid $accent;
    }
  }
}









/* media requests */
@import 'media';