@import 'vars';
@import 'fonts';
@import 'reset';
@import 'global';

.header{
  background-color: $bg-primary;
  height: 87px;
  position: relative;
  &::after{
    position: absolute;
    content: '';
    height: 1px;
    width: 100%;
    background-color: $line-white;
    bottom: 0;
  }
  &-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
.nav{
  &-list{
    display: flex;
  }
  &-item{
    margin-right: 15px;
    &:last-child{
      margin-right: 0;
    }
    &:hover{
      .dropdown-list{
        display: block;
      }
    }
  }
  &-link{
    display: inline-block;
    padding: 30px 10px;
    position: relative;
    &::after{
      position: absolute;
      content: '';
      height: 3px;
      width: 0%;
      border-radius: 2px;
      background-color: $accent;
      left: 50%;
      bottom: 0;
      z-index: 2;
      transition: all .5s;
    }
    &:hover::after{
      left: 0;
      width: 100%;
    }
  }
}
.dropdown{
  &-list{
    position: absolute;
    min-width: 480px;
    border-left: 1px solid $line-white;
    border-right: 1px solid $line-white;
    background-color: $bg-primary;
    display: none;
    animation: dropdown .5s ease;
  }
  &-link{
    display: block;
    padding: 17px 20px;
    border-bottom: 1px solid $line-white;
    position: relative;
    transition: all .5s;
    /* &::after{
      position: absolute;
      content: '';
      height: 1px;
      width: 0%;
      border-radius: 2px;
      background-color: $accent;
      left: auto;
      right: 0;
      bottom: -1px;
      z-index: 2;
      transition: all .5s;
    } */
    &:hover{
      color: $accent;
      background-color: $bg-secondary;
      /* &::after{
        right: auto;
        left: 0;
        width: 100%;
      } */
    }
  }
}
@keyframes dropdown {
  from{
    transform: translateX(100px);
    opacity: 0;
  }  
  to{
    transform: translateX(0px);
    opacity: 1;
  }  
}
.consultation{
  position: relative;
  &-link{
    display: block;
    font-weight: 700;
    margin-bottom: 3px;
    transition: all .5s;
    &:last-child{
      margin-bottom: 0;
    }
    &:hover{
      color: $accent;
    }
  }
  &::after{
    position: absolute;
    content: 'Бесплатная консультация';
    min-width: 250px;
    padding: 8px;
    text-align: center;
    border-radius: 0px 0px 6px 6px;
    background-color: $accent;
    right: 0;
    bottom: -58px;
    z-index: 2;
  }
}



.slider{
  padding: 60px 0;
  &-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }
  &-content{
    max-width: 424px;
    margin-right: 30px;
    &__title{
      font-family: $ff-roboto;
      font-size: 50px;
      line-height: 1;
      text-transform: uppercase;
      font-weight: 400;
      letter-spacing: 0;
      margin-bottom: 25px;
    }
    &__text{
      margin-bottom: 50px;
    }
    &__btn{
      display: inline-block;
      max-width: 400px;
      width: 100%;
      height: 70px;
      line-height: 70px;
      color: #fff;
      background-color: $accent;
      border-radius: 6px;
      text-align: center;
      cursor: pointer;
    }
  }

  &-images{
    max-width: 870px;
    width: 100%;
  }
  &-img{
    width: 100%;
    max-height: 520px;
    object-fit: cover;
  }
}



.services{
  padding: 60px 0;
  &-grid{
    padding: 80px 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    &__item{
      display: block;
      max-width: 440px;
      padding: 50px 30px;
      border: 2px solid #464646;
      border-radius: 5px;
      background-color: $bg-secondary;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    &__item-img{
      margin-right: 30px;
    }
  }
  &-flex{
    margin: 80px 0 140px;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    &::after{
      position: absolute;
      content: '';
      width: 100%;
      height: 1px;
      background-color: $line-white;
      left: 0;
      bottom: 15px;
    }
    &::before{
      position: absolute;
      content: '';
      width: 1px;
      height: 100%;
      background-color: $line-grey;
      top: 0;
      right: 20px;
    }
    &__item{
      padding: 0 10px 35px;
      max-width: 333px;
      width: 100%;
      text-transform: uppercase;
      text-align: center;
      font-family: $ff-roboto;
      font-size: 20px;
      line-height: 30px;
      position: relative;
      &-text{
        font-weight: 500;
      }
      &::after{
        position: absolute;
        content: '';
        width: 1px;
        height: 100%;
        background-color: $line-grey;
        top: 0;
        left: 0;
      }
      &::before{
        position: absolute;
        content: '';
        width: 3px;
        height: 24px;
        transform: rotate(45deg);
        background-color: $line-grey;
        right: -2px;
        bottom: 3px;
      }
      &:last-child::before{
        display: none;
      }
    }
  }
}




.banner{
  background-color: $bg-secondary;
  &-wrapper{
    display: flex;
    min-height: 636px;
    position: relative;
  }
  &-content{
    max-width: 583px;
    width: 100%;
    padding: 60px 0;
    &__top{
      display: flex;
      align-items: flex-end;
      margin-bottom: 60px;
    }
    &__text{
      max-width: 250px;
      font-family: $ff-roboto;
      font-size: 16px;
      line-height: 20px;
      margin-left: 15px;
    }
    &__title{
      font-family: $ff-roboto;
      text-transform: uppercase;
      font-size: 40px;
      line-height: 50px;
      font-weight: 500;
    }
  }

  &-img{
    position: absolute;
    height: 636px;
    left: 583px;
    top: 0;
  }
}




.info{
  &-wrapper{
    display: flex;
  }
}

/* tab */
.tabs{
  max-width: 583px;
  width: 100%;
  padding: 100px 0 80px;
}
.tab{
  max-width: 534px;
  padding: 45px 0;
  font-family: $ff-roboto;
  font-size: 40px;
  line-height: 50px;
  font-weight: 500;
  text-transform: uppercase;
  cursor: pointer;
  position: relative;
  transition: all .3s ease-out;
  &::after{
    position: absolute;
    content: '';
    height: 1px;
    width: 100%;
    background-color: $line-grey;
    left: 0;
    bottom: 0;
  }
  &:last-child::after{
    display: none;
  }
  &::before{
    position: absolute;
    content: '';
    background-image: url(../images/big-angle.svg);
    background-repeat: no-repeat;
    width: 0px;
    height: 32px;
    top: 54px;
    left: 0;
    transition: all .5s ease-out;
    display: none;
    animation: angle-big .5s ease-out;
  }

  &.active{
    padding-left: 45px;
    &::before{
      width: 20px;
      display: block;
    }
    &:hover{
      padding-left: 45px;
    }
  }
  &:hover{
    padding-left: 3px;
  }
}

@keyframes angle-big {
  from{
    transform: translateX(-30px);
    opacity: 0;
  }
  to{
    transform: translateX(0);
    opacity: 1;
  }
}

.tabs_content{
  max-width: 784px;
  width: 100%;
  margin-bottom: auto;
  position: relative;
}
.content{
  padding-top: 120px;
  margin-bottom: auto;
  position: relative;
  display: none;
  animation: tab-content .5s ease-out;
  &::after{
    position: absolute;
    content: '';
    width: 1px;
    height: 100%;
    background-color: $line-grey;
    top: 0;
    left: 0;
  }
  &.active{
    display: block;
  }
  &-item{
    padding: 30px 30px 30px 80px;
    position: relative;
    &::after{
      position: absolute;
      content: '';
      width: 100%;
      height: 1px;
      background-color: $line-grey;
      left: 0;
      bottom: 0;
    }
  }
  &-item__title{
    font-family: $ff-roboto;
    font-size: 22px;
    cursor: pointer;
    position: relative;
    transition: all .5s;
    &:hover{
      color: $accent;
    }
    &.active{
      color: $accent;
      &::after{
        transform: rotate(0);
      }
    }
    &::after{
      position: absolute;
      content: '';
      background-image: url(../images/angle.svg);
      background-repeat: no-repeat;
      width: 16px;
      height: 11px;
      transform: rotate(-90deg);
      top: 7px;
      left: -30px;
      transition: all .5s;
    }
  }
  &-item__text, 
  &-item__list{
    padding: 25px 0;
  }
  &-item__element{
    padding-left: 25px;
    position: relative;
    &::after{
      position: absolute;
      content: '';
      width: 5px;
      height: 5px;
      background-color: #fff;
      border-radius: 50%;
      top: 12px;
      left: 10px;
    }
  }
}

@keyframes tab-content {
  from{
    transform: translateY(-120px);
    opacity: 0;
  }
  to{
    transform: translateY(0);
    opacity: 1;
  }
}

.accordion{
  &_panel{
    max-height: 0;
    overflow: hidden;
    transition: 0.5s ease-out;
  }
}
/* tab */




.step{
  padding: 100px 0;
  background-color: $bg-secondary;
  &-wrapper{
    display: flex;
    justify-content: space-between;
    padding: 80px 0;
  }
  &-item{
    max-width: 274px;
    width: 100%;
    padding: 0 25px;
    text-align: center;
    position: relative;
    &::after{
      position: absolute;
      content: '';
      background-image: url(../images/arrow-right.svg);
      background-repeat: no-repeat;
      width: 90px;
      height: 24px;
      top: 12px;
      right: -45px;
    }
    &:last-child::after{
      display: none;
    }
  }
  &-item__number{
    font-size: 40px;
    line-height: 50px;
    font-weight: 500;
    color: $accent;
    margin-bottom: 15px;
  }
  &-item__text{
    font-family: $ff-roboto;
    font-size: 22px;
    &::first-line{
      color: $accent;
    }
  }
}





.presentation{
  
  &-wrapper{
    display: flex;
    justify-content: space-between;
    position: relative;
  }
  &-slider{
    
  }
  &-content{
    max-width: 782px;
    width: 100%;
    padding: 80px 0;
    &__title{
      padding: 0 100px;
      font-family: $ff-roboto;
      text-transform: uppercase;
      font-size: 40px;
      line-height: 50px;
      font-weight: 500;
      margin-bottom: 25px;
    }
  }
  .content{
    display: block;
    padding-top: 0;
    &-item{
      padding-left: 135px;
    }
    &::after{
      display: none;
    }
  }
  .popup-btn{
    margin-top: 55px;
    margin-left: 105px;
  }
}








/* media requests */
@import 'media';